<!-- Adding a cake -->
<html>
<body>

<h1>Hello! Create a cake to add it to the list:</h1>

<form action="/show" method="post" target="_blank">
  <label for="cname">Name of cake:</label>
  <input type="text" id="cname" name="cname"><br><br>
  <input type="submit" value="Submit">
</form>
<p>Click on the 'submit' button, and the cake will be created.</p>

<form action="/index" method="post" target="_blank">
  <input type="submit" value="See all cakes">
</form>
<p>Click on the 'see all cakes button' to see the list of current cakes. There
you can edit or delete cakes from the list!</p>

</body>
</html>
