<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">

  $( document ).ready( callEndpt );

  function callEndpt() {
    $.getJSON('/index.json', function(data) {
      data.cakeList.forEach((item, i) => {
          $('#cake_list').append("<li>" + item["name"] + "</li>");
      });
    });
  }

  </script>
</head>

<body>



  <p>Edit or delete a cake from the list by clicking the 'Edit list' button:
  </p>
  <form action="/edit" method="post" target="_blank">
    <input type="submit" value="Edit List">
  </form>




<h1>Cakes:</h1>
<ol id="cake_list"> </ol>


</body>
</html>
