<!-- Showing the list of all cakes-->
<!-- Pulled from the database -->
<html>
<body>

<h1>Cakes:</h1>

/*$.getJSON( "ajax/test.json", function( data ) {
  var items = [];
  $.each( data, function( key, val ) {
    items.push( "<li id='" + key + "'>" + val + "</li>" );
  });

  $( "<ul/>", {
    "class": "my-new-list",
    html: items.join( "" )
  }).appendTo( "body" );
});
*/


</body>
</html>
