<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
  $( document ).ready( callE );
  function callE() {
    $.getJSON('/show.json', function(data) {
      $('#name_output').append(data.yourCake["name"]);
      $('#id_output').append(data.yourCake["id"]);
    });
  }
  </script>
</head>

<body>
  <h1>Your cake info:</h1>

  <p id="name_output">Name: </p>
  <p id="id_output">Id: </p>

  <form action="/index" method="post" target="_blank">
    <input type="submit" value="See all cakes">
  </form>

</body>
</html>
