<!-- Showing a cake that was just created -->
<!-- Display it by database id -->
<html>
<body>

<h1>Your cake info:</h1>


<p>Name: </p>
<p>Id: </p>

<form action="/index" method="post" target="_blank">
  <input type="submit" value="See all cakes">
</form>

</body>
</html>
