<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
  function callE() {
            $('#output').append("testing");
  }
  callE();
  </script>
</head>

<body>
  <h1>printing?</h1>
  <div id="output">  </div>
</body>
</html>
